<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<header data-bs-theme="dark">
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container"><a class="navbar-brand" routerLink="/">АТБ</a>
      <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
              aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation"><span
        class="navbar-toggler-icon"></span></button>
      <div class="navbar-collapse collapse" id="navbarCollapse" style="">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item"><a class="nav-link active" aria-current="page" routerLink="/">Додому</a></li>
        </ul>

        <ul class="navbar-nav ms-auto">
          <ng-container *ngIf="isLoggedIn() && user() as user">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">
                <img [src]=`${environment.imageUrl}800_${user.image}` class="rounded-circle " width="42" height="42" />
                {{ user.name }}
              </a>
              <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" (click)="logout()">Вийти</a></li>
              </ul>
            </li>
          </ng-container>

          <ng-container *ngIf="!isLoggedIn()">
            <li class="nav-item"><a class="nav-link" routerLink="/register">Реєстрація</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/login">Вхід</a></li>
          </ng-container>
        </ul>
      </div>
    </div>
  </nav>
</header>

<main>
  <div class="container mt-4">
<!--    <h1 class="text-center">Hello bees - that`s already Angular 20</h1>-->
    <router-outlet />
  </div>

</main>


