
<a class="btn btn-primary mb-3" routerLink="/category/create">Додати</a>

<!-- Перевірка, чи список категорій пустий -->
<div *ngIf="categories.length === 0" class="alert alert-info text-center">
  Категорії наразі відсутні.
</div>

<!-- Вивід карток, якщо є категорії -->
<div class="row" *ngIf="categories.length > 0">
  <div *ngFor="let category of categories" class="col-md-3 mb-4">
    <div class="card h-100 shadow-sm">
      <div class="justify-content-between " style="display: flex">
        <button (click)="requestCategoryDelete(category.id)" class="invisible-button" >
          <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
            <path fill-rule="evenodd" d="M8.586 2.586A2 2 0 0 1 10 2h4a2 2 0 0 1 2 2v2h3a1 1 0 1 1 0 2v12a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V8a1 1 0 0 1 0-2h3V4a2 2 0 0 1 .586-1.414ZM10 6h4V4h-4v2Zm1 4a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Zm4 0a1 1 0 1 0-2 0v8a1 1 0 1 0 2 0v-8Z" clip-rule="evenodd"/>
          </svg>
        </button>

        <a [routerLink]="['/category/edit',category.id]">
          <svg class="w-6 h-6 text-gray-800 dark:text-white " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10.779 17.779 4.36 19.918 6.5 13.5m4.279 4.279 8.364-8.643a3.027 3.027 0 0 0-2.14-5.165 3.03 3.03 0 0 0-2.14.886L6.5 13.5m4.279 4.279L6.499 13.5m2.14 2.14 6.213-6.504M12.75 7.04 17 11.28"/>
          </svg>
        </a>

      </div>

      <img [src]=`${environment.imageUrl}800_${category.image}` [alt]="category.name" class="card-img-top" style="height: 200px; object-fit: cover;">
      <hr>
      <div class="card-body text-center">
        <h5 class="card-title">{{ category.name }}</h5>
      </div>
    </div>
  </div>
</div>

<app-confirm-modal
#confirmModal
[title]="'Видалення категорії'"
[message]="'Ви впевнені, що хочете видалити цю категорію?'"
(confirmed)="onCategoryDeleteConfirmed()">
</app-confirm-modal>
